#--- Simplejson (cannot use json since json.loads(string) returs unicode,
#                which Python2 does not accept as keyword for dicts)
simplejson 

#--- Boto (EC2 specific commands)
boto

#--- Fabric (should be >= 1.0, previous versions are not compatible)
fabric>=1.0

#--- Libcloud (should be > 0.4.2, but there is 0.4.3 tag yet, using HEAD then)
-e git+git://github.com/apache/libcloud.git#egg=apache-libcloud

